[submodule "Rocket-chip-HPM"]
	path = Rocket-chip-HPM
	url = https://github.com/haoozi/Rocket-chip-HPM.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/ucsc-vama/rocket-chip.git
